<div
  style="
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
>
  <div
    style="
      width: 100%;
      background-color: var(--pale-blue);
      display: flex;
      justify-content: center;
    "
  >
    <div
      style="
        display: flex;
        flex-direction: row;
        width: 1200px;
        padding: 20px;
        max-width: 1200px;
      "
    >
      <div
        style="
          width: 50%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          justify-content: end;
        "
      >
        <span style="color: var(--blue); font-size: 30px; font-weight: 500"
          >About us</span
        >
        <div>
          <span
            style="
              font-size: 16px;
              color: var(--blue);
              font-weight: normal;
              line-height: 25px;
            "
          >
            <p>
              One of the best digital and technological solution providers in
              the world, Spearmint has particular competence in blockchain,
              metaverse, AI/ML, IoT, and mobility solutions. We have advanced to
              the top position in the mobility industry thanks to our highly
              skilled personnel and specialists.
            </p>

            <p>
              We go out of our way to use cutting-edge technologies to guarantee
              that our customers get the finest services possible. We will
              provide you with the greatest IT solutions to help you expand your
              company in every manner.
            </p>
          </span>
        </div>

        <button
          mat-button
          style="
            width: 150px;
            background-color: var(--blue);
            justify-content: center;
            display: flex;
          "
        >
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              color: white;
            "
          >
            Know More<mat-icon> chevron_right </mat-icon>
          </div>
        </button>
      </div>

      <div
        style="
          width: 50%;
          padding: 20px;
          align-items: center;
          display: flex;
          justify-content: center;
        "
      >
        <img src="assets/images/aboutus.png" style="height: 500px" />
      </div>
    </div>
  </div>

  <!-- footer -->
</div>
